<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <ng-container *ngIf="store$ | async as store; else loadingStore">
    {{store.name | titlecase}}
  </ng-container>
  <ng-template #loadingStore>
    <mat-spinner [diameter]="15"></mat-spinner> Loading...
  </ng-template>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <h4 class="category" >
      <ng-container *ngIf="store$ | async as store; else loadingStore">
        <mat-icon fontSet="material-icons-outlined">
          domain
        </mat-icon>
        {{store.category | titlecase}}
        <mat-icon (click)="viewStore(store)" class="more-info">
          question_mark
        </mat-icon>
      </ng-container>

      <ng-template #loadingStore>
        <mat-spinner [diameter]="15"></mat-spinner> Loading...
      </ng-template>
    </h4>

    <mat-divider></mat-divider>

    <a mat-button class="menu-button" href="#" routerLink='products' routerLinkActive="active">
      <mat-icon fontSet="material-icons-outlined">dashboard</mat-icon>
      <span>Products</span>
    </a>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
