<ng-container *ngIf="product$ | async as product">
  <section class="modal-header">
    <h2>
      {{product.title}}
    </h2>
    <button
      mat-raised-button
      color="warn"
      matTooltip="Click to delete product!"
      matTooltipPosition="above"
      (click)="deleteProduct(product.id)"
    >
      <mat-icon>
        delete
      </mat-icon>
    </button>
  </section>
  <section class="modal-body">
    <div class="fields">
      <div class="field" *ngFor="let field of fields">
        <div class="label">
          {{field | titlecase}}
        </div>
        <div class="value">
          {{product[field]}}
        </div>
      </div>
    </div>
    <mat-accordion multi>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Description
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{product.description}}</p>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="product.reviews?.length">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Review
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let review of product.reviews">{{review}}</mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</ng-container>

<euris-loader *ngIf="loading$ | async" type="spinner"></euris-loader>
